{% extends "base.html" %}

{% block content %}

<div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                      <h4 class="card-title card-title-dash">Danh sách danh mục</h4>
                                      <p class="card-subtitle card-subtitle-dash">Hiện có {{ listcategory.count }} danh mục</p>
                                    </div>
                                    <div>
                                        <a href="{% url 'category/add_category' %}">
                                             <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i> Thêm danh mục</button>
                                        </a>

                                    </div>
                                  </div>
                                  <div class="table-responsive  mt-1">
                                    <table class="table select-table">
                                      <thead>
                                        <tr>


                                          <th>Tên</th>
                                             <th>Code</th>
                                            <th>Mô tả</th>
                                            <th>Nhóm</th>
                                          <th>Ngày tạo</th>

                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        {% load mptt_tags %}

<tbody>
{% recursetree listcategory %}
<tr>


    <td style="padding-left: {{ node.level|add:1 }}rem;">
        <h5>
        {% if node.parent %}
    {{ node.parent.code }}
{% endif %}
        {% if node.level > 0 %}
            --
        {% endif %}

        {{ node.name }}
        </h5>

    </td>

    <td>{{ node.code }}</td>
    <td>{{ node.description }}</td>
    <td>{{ node.parent }}</td>
    <td>{{ node.created_at }}</td>

    <td>
        <a href="{% url 'category/delete_category' node.id %}">
            <button class="btn btn-danger">Delete</button>
        </a>
    </td>
</tr>

{% if not node.is_leaf_node %}
    {{ children }}
{% endif %}
{% endrecursetree %}
</tbody>



                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


{% endblock %}