{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row flex-grow">
<div class="col-md-6 grid-margin stretch-card">

<div class="card">
<div class="card-body">

<h4 class="card-title">Cập nhật nhà cung cấp</h4>

<form method="POST"
      action="{% url 'update_supplier' supplier.id %}"
      enctype="multipart/form-data"
      class="forms-sample">

{% csrf_token %}

<!-- Name -->
<div class="form-group">
<label>Tên</label>
<input type="text"
       name="name"
       value="{{ supplier.name }}"
       class="form-control">
</div>

<div class="row">
    <div class="col-md-6">
<div class="form-group">
<label>Mã số thuế</label>
<input type="text"
       name="tax_code"
       value="{{ supplier.tax_code }}"
       class="form-control">
</div>
    </div>

    <div class="col-md-6">
<div class="form-group">
<label>Số DT</label>
<input type="text"
       name="phone"
       value="{{ supplier.phone }}"
       class="form-control">
</div>
</div>



<div class="form-group">
<label>Email</label>
<input type="email"
       name="email"
       value="{{ supplier.email }}"
        placeholder="Trống"
       class="form-control">
</div>


</div>
<div class="form-group">
<label>Địa chỉ</label>
<input type="text"
       name="address"
       value="{{ supplier.address }}"
       placeholder="Trống"
       class="form-control">
</div>





<button class="btn btn-primary" type="submit">
Update
</button>

<a href="{% url 'supplier_page' %}" class="btn btn-light">
Cancel
</a>

</form>

</div>
</div>

</div>
</div>




{% endblock %}