{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row flex-grow">
    <div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Thêm sản phẩm</h4>

      <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data" class="forms-sample">
        {% csrf_token %}

        <!-- Name -->
        <div class="form-group">
          <label>Tên</label>
          {{ form.name }}
        </div>

        <!-- Category -->
        <div class="form-group">
          <label>Loại</label>
          {{ form.category }}
        </div>

        <div class="row">
          <!-- Import price -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Giá nhập</label>
              {{ form.import_price }}
            </div>
          </div>

          <!-- Sell price -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Giá bán</label>
              {{ form.sell_price }}
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Quantity -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Số lượng</label>
              {{ form.quantity_in_stock }}
            </div>
          </div>

          <!-- Min stock -->
          <div class="col-md-6">
            <div class="form-group">
              <label>Mức tồn tối thiểu</label>
              {{ form.min_stock_level }}
            </div>
          </div>
        </div>

        <!-- Image upload -->
        <div class="form-group">
          <label>Ảnh sản phẩm</label>
          {{ form.image }}

           <br><br>

            <!-- Preview image -->
            <img id="preview"
                 src="{% static 'images/no-image.jpg' %}"
                 width="150"
                 style="border:1px solid #ddd;padding:5px;border-radius:5px;">
        </div>


        <button class="btn btn-primary" type="submit">Save</button>
        <a href="{% url 'product_list' %}" class="btn btn-light">Cancel</a>

      </form>
    </div>
  </div>
</div>
</div>

<script>
document.getElementById("id_image").onchange = function(event){
    const [file] = event.target.files
    if(file){
        document.getElementById("preview").src = URL.createObjectURL(file)
    }
}
</script>
{% endblock %}