{% extends "base.html" %}

{% block content %}

<div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                      <h4 class="card-title card-title-dash">Danh sách sản phẩm</h4>
                                      <p class="card-subtitle card-subtitle-dash">Hiện có {{ listproduct.count }} sản phẩm</p>
                                    </div>
                                    <div>
                                        <a href="{% url 'product/add_product' %}">
                                             <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i> Thêm sản phẩm</button>
                                        </a>

                                    </div>
                                  </div>
                                  <div class="table-responsive  mt-1">
                                    <table class="table select-table">
                                      <thead>
                                        <tr>


                                          <th>Tên</th>

                                            <th>Loại</th>
                                            <th>Đơn vị</th>
                                          <th>Giá</th>

                                             <th>Số lượng </th>

                                            <th>Hình ảnh</th>
                                            <th> Thời gian</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        {% for product in listproduct %}
  <tr>


                                          <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h5>{{ product.name }}</h5>
                                                <p>SKU: {product.sku}</p>
                                              </div>
                                            </div>
                                          </td>

      <td>

                                            <h5>{{ product.category.name }}</h5>

                                          </td>
                                            <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h5>Nhập: {{product.import_price}}</h5>
                                                <h5>Nhập: {{product.sell_price}}</h5>
                                              </div>
                                            </div>
                                          </td>

                                     <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h5>Số lượng: {{ product.quantity_in_stock }}</h5>
                                                <h5>Mức tồn: {{ product.min_stock_level}}</h5>
                                              </div>
                                            </div>
                                          </td>
                                        <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h5>Số lượng: {{ product.quantity_in_stock }}</h5>
                                                <h5>Mức tồn: {{ product.min_stock_level}}</h5>
                                              </div>
                                            </div>
                                          </td>
                                        <td>
                                            <div class="d-flex ">

                                              <div>
                                                  {{ product.image }}
                                              </div>
                                            </div>
                                          </td>
                                        <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h5>Ngày tạo: {{ product.created_at }}</h5>
                                                <h5>Thay đổi: {{ product.updated_at}}</h5>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                            <a href="{% url 'product/update_product' product.id %}">
     <button  class="btn btn-danger" type="delete">Delete</button>
</a>
<a href="{% url 'product/delete_product' product.id %}">
     <button  class="btn btn-danger" type="delete">Delete</button>
</a>

                                          </td>
                                        </tr>
                                        {% endfor %}



                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


{% endblock %}