{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row flex-grow">
<div class="col-md-6 grid-margin stretch-card">

<div class="card">
<div class="card-body">

<h4 class="card-title">Cập nhật nhà cung cấp</h4>

<form method="POST"
      action="{% url 'update_supplier' update_warehouse.id %}"
      enctype="multipart/form-data"
      class="forms-sample">

{% csrf_token %}

<!-- Name -->
<div class="form-group">
<label>Tên</label>
<input type="text"
       name="name"
       value="{{ warehouse.name }}"
       class="form-control">
</div>

<!-- Category -->
<div class="form-group">
<label>Loại</label>

<select name="category" class="form-control">

{% for category in categories %}

<option value="{{ category.id }}"
{% if product.category.id == category.id %}
selected
{% endif %}
>
{{ category.name }}
</option>

{% endfor %}

</select>
</div>


<div class="row">




<div class="row">

<!-- Quantity -->
<div class="col-md-6">
<div class="form-group">
<label>Số lượng</label>
<input type="number"
       name="quantity_in_stock"
       value="{{ product.quantity_in_stock }}"
       class="form-control">
</div>
</div>

<!-- Min stock -->
<div class="col-md-6">
<div class="form-group">
<label>Mức tồn tối thiểu</label>
<input type="number"
       name="min_stock_level"
       value="{{ product.min_stock_level }}"
       class="form-control">
</div>
</div>

</div>


<!-- Image upload -->
<div class="form-group">
<label>Ảnh sản phẩm</label>

<input type="file"
       name="image"
       id="id_image"
       class="form-control">


<br>

<!-- Image preview -->
<img id="preview"
     src="{{ product.image.url|default:'/static/images/no-image.jpg' }}"
     width="150"
     style="border:1px solid #ddd;padding:5px;border-radius:5px;">

</div>


<button class="btn btn-primary" type="submit">
Update
</button>

<a href="{% url 'product_list' %}" class="btn btn-light">
Cancel
</a>

</form>

</div>
</div>

</div>
</div>


<script>

document.getElementById("id_image").onchange = function(event){

    const [file] = event.target.files

    if(file){
        document.getElementById("preview").src = URL.createObjectURL(file)
    }

}

</script>

{% endblock %}