{% extends "base.html" %}

{% block content %}

<div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                      <h4 class="card-title card-title-dash">Danh sách nhân viên</h4>
                                      <p class="card-subtitle card-subtitle-dash">Hiện có {{listuser.count}} nhân viên</p>
                                    </div>
                                    <div>
                                      <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i> Thêm thành viên</button>
                                    </div>
                                  </div>
                                  <div class="table-responsive  mt-1">
                                    <table class="table select-table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <div class="form-check form-check-flat mt-0">
                                              <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" aria-checked="false" id="check-all"><i class="input-helper"></i></label>
                                            </div>
                                          </th>
                                          <th>Customer</th>
                                          <th>Thông tin liên hệ</th>
                                          <th>Ngày tạo</th>
                                            <th>Ngày thay đổi</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        {% for user in listuser %}
  <tr>

                                          <td>
                                            <div class="form-check form-check-flat mt-0">
                                              <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                                            </div>
                                          </td>


                                          <td>
                                            <div class="d-flex ">

                                              <div>

                                                <h6>{{ user.username }}</h6>
                                                <p>{{user.role}}</p>
                                              </div>
                                            </div>
                                          </td>
                                          <td>

                                            <h4>{{ user.phone }}</h4>
                                              <p>{{user.email}}</p>
                                          </td>
                                          <td>
                                            {{user.created_at}}
                                          </td>

      <td>
                                            {{user.updated_at}}
                                          </td>
                                          <td>
                                              <button href="{% url 'edit_user' user.id %}" class="btn btn-info" type="edit">Edit</button>
                                                <button href="{% url 'delete_user' user.id %}" class="btn btn-danger" type="delete">Delete</button>
                                          </td>
                                        </tr>
                                        {% endfor %}



                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
<script>

